{% extends 'base.html' %}
{% block page_content %}
<div class="container h-100 d-flex">
    <div class="jumbotron col-sm-8 text-center mt-5 mb-1 mx-auto">
        <a href="/">
            <h5 id="title" class="display-4 mb-4">SrAlloza's Cloud</h5>
        </a>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <!-- <div class="form-group"><label class="control-label" for="files">Files</label>
                <input class="form-control-file" id="files" multiple name="files" type="file">
            </div> -->
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" multiple id="f-input" name="files[]"
                        aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="f-input"></label>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="folder">folder</label>
                <select class="form-control" id="folder" name="folder">
                    {% for folder in folders %}
                    <option value="{{ folder.id }}">{{ folder.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mr-3">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </form>
    </div>
</div>


{% endblock %}
