{% extends "base.html" %}

{% block title %}SrAlloza's Cloud{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="h-100 d-flex">
			<div class="jumbotron col-sm-8 text-center mt-5 mb-1 mx-auto">
				<h1 class="display-4">SrAlloza's Cloud</h1>

				<form method="POST" enctype="multipart/form-data" role="form" action="/">
					{{ form.hidden_tag() }}
					<div class="form-group"><label class="control-label" for="files">Files</label>
						<input class="form-control-file" id="files" multiple name="files" type="file">
					</div>
					<div class="form-group"><label class="control-label" for="folder">folder</label>
						{{ form.folder(class="form control") }}
					</div>
					{{ form.submit(class="btn btn-default") }}
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="d-flex">
			<div class="jumbotron col-sm-8 text-center mt-5 mb-1 mx-auto">
		<!-- <div class="row"> -->
				<a href="/cloud">
					<div class="jumbotron text-center text-dark">
						<h3>Files</h3>
					</div>
				</a>
			</div>
		</div>
	<div>

{% endblock %}
